body{
    padding-right : 10px;
    padding-left: 10px;
}

.developer-detail-section{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
}

.developer-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width : 50%;
    margin-right: auto;
    margin-left: auto;
    padding : 10px;
}
.developer-card:hover{
    opacity: 0.6;
}
.developer-card:active{
    opacity: 0.3;
}
.developer-card-image img{
    width : 70px;
    margin : 15px;
}
.developer-card-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.developer-card-details p{
    font-weight: bold;
    font-size: 14px;
    margin-top : 0px;
}
.developer-card-details span{
    color: rgb(149, 147, 147);
    font-size: 12px;
}

header{
    padding : 10px;
}

.document-section{
    padding-left : 20px;
}

.developer-card-image-harish img{
    width : 70px;
    margin : 15px;
    height : 70px;
    object-fit: cover;
    border-radius : 70px;
}

.developer-card-image-rithvik img{
    width : 70px;
    margin : 15px;
    height: 70px;
    object-fit: cover;
    border-radius : 70px;
}

.developer-card-image-gokul img{
    width : 70px;
    margin : 15px;
    border-radius : 70px;
}

.developer-card-image-ilamathi img{
    width : 70px;
    margin : 15px;
    height: 70px;
    object-fit: cover;
    border-radius : 70px;
}

.components-docs-links a{

    text-decoration: none;
    color : blue;
    display : block;
}

.components-docs-links li{
    margin-bottom : 10px;
    margin-top : 10px;
}